body{
    background-image: linear-gradient(to right,#4facfe 0%,#00f2fe 100%);
}

h1{
    margin:50px 0 50px 0 !important;
    background-color:blue;
    border-radius: 5px;
    color: white;
    padding: 5px;
}